<div class="footer-container">
    <div class="sub-con">
        <p class="text">
            Develope By Team 71
        </p>
        <p class="text">
            @Copy right 2025
        </p>
    </div>
</div>